@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    ::-webkit-scrollbar {
        display: none;
    }

    input:-webkit-autofill {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
        box-shadow: 0 0 0px 1000px transparent inset !important;
        transition: background-color 5000s ease-in-out 0s,
            color 5000s ease-in-out 0s;
        border-width: 1px !important;
    }

    /* Dark mode autofill styles */
    .dark input:-webkit-autofill {
        background-color: #111827 !important; /* Tailwind 'gray-900' */
        -webkit-box-shadow: 0 0 0px 1000px #111827 inset !important;
        box-shadow: 0 0 0px 1000px #111827 inset !important;
        color: #d1d5db !important; /* Tailwind 'gray-200' */
    }

    input:-webkit-autofill:focus {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(168 85 247 / var(--tw-ring-opacity, 1));
        --tw-border-opacity: 1;
        border-color: rgb(168 85 247 / var(--tw-border-opacity, 1));
        box-shadow: 0 0 0 1px rgba(168 85 247 / var(--tw-border-opacity, 1)) !important;
    }
}

@layer utilities {
    .quill-content {
        @apply text-gray-600 dark:text-gray-400;
    }
    .quill-content ol {
        @apply list-decimal ml-5 pl-4;
    }
    .quill-content ul {
        @apply list-disc ml-5 pl-4;
    }
    .quill-content li {
        @apply mb-1;
    }
    .quill-content p {
        @apply my-2;
    }
    .quill-content h1 {
        @apply text-2xl font-bold mb-3;
    }
    .quill-content h2 {
        @apply text-xl font-semibold mb-2;
    }
    .quill-content h3 {
        @apply text-lg font-semibold mb-2;
    }
}
